---
permalink: /404.html
---
{% include splash_head.html %}
<body>
    {% include splash_nav.html %}
    <div class="top-buffer">
    <div class="row d-flex justify-content-center">
    <!-- content -->
    <div class="landingtext">
    <h2 class="typewriterwrapper">
        <a href="index.html" class="typewrite">404</a>
        </h2>
        <h3 class="typedtext">The page you were looking for could not be found.</span></h3>
        <hr>
        {% include social_links.html %}
    </div>
    </div>
    </div> 
</body>
</html>