---
permalink: /
---
{% include splash_head.html %}
<body>
    {% include splash_nav.html %}
    <div class="top-buffer">
    <div class="row d-flex justify-content-center">
    <!-- content -->
    <div class="landingtext">
    <h2 class="typewriterwrapper">
      <a href="index.html" class="typewrite" data-period="1500" data-type="[ &quot;Hello.&quot;, &quot;My name is Noah Sutton.&quot;]"><span class="wrap">My name is Noah Sutton.</span></a>
    </h2>
        <h3 class="typedtext">I'm currently a <span class="underline">Jr. Technical Consultant</span> with Media.Monks. I build <span class="underline">secure</span>, <span class="underline">efficient</span>, and <span class="underline">resilient</span> cloud solutions and architectures for our clients.</h3>
        <hr>
        {% include social_links.html %}
    </div>
    </div>
    </div> 
</body>
</html>